/*обнуление css*/
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}
/*конец обнуления css*/

.header, .main, .footer {
  width: 360px;
  margin-left: 20px;
  margin-right: 20px;
}

body {
  margin: 0; /*обнуление css*/
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  background-color: pink; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: Garamond, serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
}

h2 {
  font-family: Garamond, serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 115%;
}

h3 {
  font-family: Garamond, serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 135%;
}

p {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
}

.theme_dark {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #131313;
  color: #F5F5F5;
}

.theme_yellow {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #FEE42A;
  color: #131313;
}

.logo {
  max-width: 78px;
} 

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.nav_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.nav_list_underlined {
  text-decoration: underline;
}

.section_cover {
  padding-top: 7px;
  padding-bottom: 30px;
  background-image: url(../images/cover.svg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 94%;
}

.text_right {
  text-align: right;
}

.text_center {
  text-align: center;
}

.intro_title_and_date {
  color: #CCCCCC;
  line-height: 120%;
}

.intro {
  padding-bottom: 38px; 
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.intro_title_and_date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

}

.section_white_list {
  display: flex;
  flex-direction: column;
  background-color: #FEE42A;
  padding-top: 40px;
  padding-bottom: 40px;
  row-gap: 32px;
}

.paragraph_big {
  font-size: 20px;
  line-height: 135%;
}

.white_list_reasons {
padding-left: 20px;
display: flex;
flex-direction: column;
gap: 16px;
}

.text_style_bold {
  font-family: Inter, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 135%;
}

.section_how_to_start {
  display: flex;
  flex-direction: column;
  background-color: #131313;
  padding-top: 40px;
  padding-bottom: 60px;
  row-gap: 32px;
}

.theme_dark_card {
  background-color: #343434;
  border-radius: 30px;
  color: #F5F5F5;
}

.theme_yellow_card {
  background-color: #FEE42A;
  border-radius: 30px;
  color: #131313;
}

.how_to_start_card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.how_to_start_card_avatar {
  width: 100px;
  height: 100px;
}

.footer {
  border-top: 1px solid #FEE42A;
  background-color: #131313;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 125%;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
